// #main {
//   background-color: white;
// }

#mainHeader {
  background-color: white;
  position: relative;
  height: 70px;
  color: black !important;

  img {
    height: 55px;
    width: auto;
  }

  #avatarContainer {
    cursor: pointer;

    img {
      height: 55px;
      width: 55px;
      object-fit: cover;
    }
  }

  .dropdown-toggle {
    background-color: transparent;
    border: none;
    color: black;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
}

#xboxStatusCircle {
  height: 15px;
  width: 15px;
  background-color: #0e7a0d;
}

.stat-icon {
  width: auto;
  height: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.stat-icon-wrapper {
  height: 30px;
}

#xboxImage {
  height: auto;
  width: 350px;
  margin: 15px auto;
  display: block;
}

#main {
  height: 100vh;
  position: relative;
}

#playButtonContainer {
  position: absolute;
  bottom: 0;
  left: 0;

  button {
    height: 70px;
    font-size: 25px;
  }
}

#netStats {
  position: absolute;
  bottom: 70px;
  left: 0;
}

#netTestError {
  height: 110px;
  background-color: rgba(211, 109, 74, 0.5);
  margin-top: 10px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
    margin: auto;
    text-align: center;
  }
}

#testConnectionButton {
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #ebeaeb;
    transition: 0.5s;
  }
}

#modalAvatarContainer {
  #editWrapper {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: auto;
    position: relative;
    overflow: hidden;

    #edit {
      color: white;
      cursor: pointer;
      width: auto;
      opacity: 0;
      transition: 0.3s;
      height: 30px;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    img {
      height: 70px;
      width: 70px;
      object-fit: cover;
      display: block;
      margin: auto;
    }

    &:hover {
      #edit {
        opacity: 1;
        transition: 0.3s;
      }
    }
  }
}

.about-logo {
  cursor: pointer;
  height: 32px;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
}

.recharts-wrapper {
  overflow: hidden !important;
  margin: auto;
}

.react-toast-notifications__container {
  left: 0;
}

.dropdown-wrapper {
  .dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
    cursor: pointer;

    &:focus &:hover {
      background-color: transparent !important;
      color: black !important;
      border: none !important;
      box-shadow: none !important;
    }
  }

  .dropdown-toggle::after {
    border: none;
    box-shadow: none !important;
    background-color: transparent !important;
    color: black !important;
  }
}

.system-stats {
  font-size: 14px !important;
}

#consoleName {
  transition: 0.3s;
  
  &:hover {
    transition: 0.3s;
    transform: scale(1.02);
  }
}

.dropdown-toggle::after {
  display: none;
}

#unconfiguredClient {
  height: 150px;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.5;

  &:hover{

  }
}
