@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url("./fonts/Montserrat-Light.ttf");
  font-weight: 200;
}

body {
  background-color: #f5f5f5;
}

#root {
  height: 100%;
  font-family: Montserrat ;
}

.react-toast-notifications__container::-webkit-scrollbar {
  display: none;
}

.recharts-wrapper{
  overflow: hidden !important;
  margin: auto;
}

.react-toast-notifications__container {
  left: 0;
}
